* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

 body {
    background:#387C44;
    color:#5DADE2;
 }

 .header-1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:#387C44;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    text-decoration: none;
 }

 .logo{
    font-size: 25px;
    color: #efefef;
    text-decoration: none;
    font-weight: 600;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
 }

 span{
    color: black;
 }

 .navbar-1 a {
    font-size: 18px;
    color:#ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;  
    transition: .3s;
 }

 .navbar-1 a:hover,
 .navbar-1 a.active {
    color: rgba(69, 212, 50, 0.986);
 }

 .HOME {
    height: 100vh;
    /*background:#C3FDB8;*/
    background:url(HOME.jpg) no-repeat ;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1{
    font-size: 50px;
    font-weight:700 ;
    line-height: 1.2;
    color: #f4f740;
    text-decoration: none;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #ededed;
    text-decoration: none;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.home-content h3 span{
    color: #5DADE2;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
    text-decoration: none;
}

.home-content .btn-box { 
    display:flex;
    justify-content: space-between;
    width: 500px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: transparent;
    border:2px solid black;
    border-radius: 8px;
    font-size: 19px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a.hover {
    color:#081b29;
}

.btn-box a:nth-child(1) {
    background: transparent;
    color: #efefef;
}

.btn-box a:nth-child(1):hover {
    color:black;
}

.btn-box a:nth-child(1)::before {
    background:#ededed;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}


.ABOUT{
    width: 100%;
    top: 30%;
    /* transform: translateY(-10%); */
    /* transform: translateX(20%); */
    padding: 100px 0px 10px;
    background-color:#387C44;
    height: 100vh;
    display: flex;
    margin: 20px 2px 20px;
    color: #f4f740;
}

.about-text {
    color:#ededed;
    letter-spacing: 2px;
    line-height: 20px;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: left;
}

.about-text h2 {
    color: #f4f740;
    text-align:center;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight:200 ;
    line-height: 1.2;
    transform: translateX(40%);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.about-text h3 {
    color:#ededed;
    letter-spacing: 2px;
    font-size: 22px;
    margin-left: 10px;
    margin-bottom: 25px;
    text-decoration: none;
    transform: translateX(65%);
}

.span{
    color:#00abf0;
}

.about-text p {
    width: 100%;
    max-width: 70ch;
    color: #ededed;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin:20px 0 40px;
    transform: translateX(45%);
    word-break: 10;
}

.categories{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.heading{
    color: #f4f740;
    text-align:center;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight:200 ;
    line-height: 1.2;
    transform: translateX(10%);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.content{
    width: 100%;
    max-width: 70ch;
    color: #ededed;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    word-break: 10;
}

.content h3{
    color: #070706;
    text-decoration: bold;
}

.categories .categories-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.categories-row .categories-column{
    flex: 1 1 4rem;
}

.categories-column .title{
    font-size: 1rem;
    margin: 0 0 1.5rem 2rem;
}

.categories-column .categories-box{
    border-left: .2rem solid #070706;
}

.categories-box .categories-content{
    position: relative;
    padding:2rem;

}

.content .button{
    background-color: #f4f740;
    color: #081b29;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 3px 15px;
    border-radius: 30px;
    transition: .3s;
    
}

.content .button:hover{
    background-color: transparent;
    color: #f4f740;
    border: 2px solid #f4f740;
    cursor: pointer;
}

.contact{
    width: 100%;
    height: 290px;
    background: #f4f740;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact p{
    color:#070706;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact .button-two{
    background-color: #387C44;
    color: #070706;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .3s;
}

.contact .button-two:hover{
    background-color: transparent;
    color: #070706;
    border: 2px solid #070706;
    cursor: pointer;
}
